:root {
    --dark-grey: #232F34;
    --light-grey: #eeeeee;
    --yellow: #F9AA33;
}

* {
    color: var(--dark-grey);
}

.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    top: 0px;
    left: 0px;
    background: var(--light-grey);
}

.t2-dashboard-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

/*---------------------Dashboard Main Screen---------------------*/

.t2-search-container form{
    display: flex;
}

.t2-search-container {
    height: 75px;
    padding: 20px 0px 0px 20px;
}

.t2-search-container img {
    width: 40px;
}

.t2-search-bar {
    border: 1px solid var(--light-grey);
    border-radius: 0.5rem;
    width: 25vw;
    height: 2rem;
    padding: 0.5rem;
}

.t2-search-button {
    height: 2rem;
    width: 2rem;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.t2-book-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2rem;
}

.t2-book-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    max-height: 30rem;
    max-width: 20rem;
    margin: 2rem;
    overflow: hidden;
}

.t2-book-cover {
    height: 25rem;
}

/*---------------------Info Panel---------------------*/
/*--------Top--------*/
.t2-book-info-panel {
    background: var(--dark-grey);
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    box-shadow: 2px 2px 50px black;
    overflow: hidden;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.t2-book-info-panel-top {
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.t2-book-info-panel-button {
    background: none !important;
    border: none !important;
    height: 50px;
    width: 50px;
    margin: 15px;
    cursor: pointer;
}

.t2-book-info-panel-close {
    width: 50px;
}

/*--------Bottom--------*/
.t2-book-info-panel-bottom {
    pointer-events: none;
}
.history-header {
    color: var(--yellow);
    height: 1rem;
    margin: 0.5rem;
}
.history-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile-picture {
    width: 100%;
    border: 2px solid var(--light-grey);
    border-radius: 100%;
    margin: 0.5rem;
}
.history-info-card {
    width: 90%;
    background-color: var(--light-grey);
    margin: 0.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}
.history-info-card-top {
    font-weight: 600;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.book-origin {
}
.arrow-icon {
}
.book-destination {
}
.exchange-date-time {
    margin: 0.5rem;
}

/*---------------------Media Screen Settings---------------------*/
@media only screen and (max-width: 80rem) {
    .t2-book-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 60rem) {
    .t2-book-grid {
        grid-template-columns: 1fr;
        margin-left: 0px;
    }

    .t2-book-info-panel {
        width: 100%;
    }
}
