:root {
    --dark-grey: #232F34;
    --light-grey: #eeeeee;
    --yellow: #F9AA33;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

.t2-page-container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.t2-navbar {
    align-self: center;
    min-width: 200px;
    max-width: 200px;
    height: 90vh;
    background: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: grey 10px 0px 30px;
    margin-right: 30px;
    border-radius: 0px 15px 15px 0px;
}

.t2-nav-button {
    display: flex;
    margin-left: 25px;
    text-decoration: none;
}

.t2-nav-button:hover > .t2-nav-image {
    padding: 0px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.t2-nav-button:hover > .t2-nav-text {
    padding: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.t2-nav-image {
    width: 40px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.t2-nav-text {
    padding: 0px 20px 0px 20px;
    align-self: center;
    color: var(--yellow);
}

@media only screen and (max-width: 60rem) {
    .t2-page-container {
        grid-template-columns: 100px 1fr;
    }
    
    .t2-navbar {
        min-width: 75px;
        max-width: 75px;
    }

    .t2-nav-button{
        transform: translateX(-15%);
    }

    .t2-nav-text{
        display: none;
    }
}