
@model Bookish.MVCWeb.Models.CheckoutModel
@{
    ViewData["Title"] = "Dashboard";
}

@section Stylesheets {
    <link href="~/css/t2navbar.css" rel="stylesheet" />
    <link href="~/css/dashboard.css" rel="stylesheet" />
}

<div>
    
    DASHBOARD CONTENT
    @*@foreach (var item in Model.Checkouts)
    {
        <p>@item.ToString()</p>

    }*@

</div>