<div class="t2-dashboard-container">
    <img class="background" src="/assets/background3.jpg" />
    <div class="t2-dashboard-container">
        <img class="background" src="/assets/background3.jpg" />
        <div class="t2-search-container">
            @Html.BeginForm("Dashboard", "Home", FormMethod.Get)
            <form action="Index">
                <input class="t2-search-bar" type="text" placeholder="Author" name="Author" />
                <input class="t2-search-bar" type="text" placeholder="Title" name="Title" />
                <button class="t2-search-button" type="submit" />
            </form>
        </div>

    </div>

</div>